# Eclipse files
.metadata/

# CLion files
.idea/

# Log files
*.log

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode
files/bitmap.bin
files/blocks_hash_index.config
files/files/RESIDENT_EVIL/0/metadata.config
files/files/RESIDENT_EVIL/0/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/0/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/0/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/0/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/1/metadata.config
files/files/RESIDENT_EVIL/1/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/1/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/1/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/1/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/1_Remake/metadata.config
files/files/RESIDENT_EVIL/1_Remake/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/1_Remake/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/1_Remake/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/1_Remake/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/2/metadata.config
files/files/RESIDENT_EVIL/2/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/2/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/2/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/2/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/2_Remake/metadata.config
files/files/RESIDENT_EVIL/2_Remake/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/2_Remake/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/2_Remake/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/2_Remake/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/3/metadata.config
files/files/RESIDENT_EVIL/3/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/3/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/3/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/3/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/3_Remake/metadata.config
files/files/RESIDENT_EVIL/3_Remake/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/3_Remake/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/3_Remake/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/3_Remake/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/4/metadata.config
files/files/RESIDENT_EVIL/4/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/4/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/4/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/4/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/4_Remake/metadata.config
files/files/RESIDENT_EVIL/4_Remake/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/4_Remake/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/4_Remake/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/4_Remake/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/5/metadata.config
files/files/RESIDENT_EVIL/5/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/5/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/5/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/5/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/6/metadata.config
files/files/RESIDENT_EVIL/6/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/6/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/6/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/6/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/7/metadata.config
files/files/RESIDENT_EVIL/7/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/7/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/7/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/7/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/8/metadata.config
files/files/RESIDENT_EVIL/8/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/8/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/8/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/8/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/9/metadata.config
files/files/RESIDENT_EVIL/9/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/9/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/9/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/9/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/CODE_VERONICA/metadata.config
files/files/RESIDENT_EVIL/CODE_VERONICA/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/CODE_VERONICA/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/CODE_VERONICA/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/CODE_VERONICA/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/Outbreak_File_1/metadata.config
files/files/RESIDENT_EVIL/Outbreak_File_1/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/Outbreak_File_1/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/Outbreak_File_1/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/Outbreak_File_1/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/Outbreak_File_2/metadata.config
files/files/RESIDENT_EVIL/Outbreak_File_2/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/Outbreak_File_2/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/Outbreak_File_2/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/Outbreak_File_2/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/Revelations/metadata.config
files/files/RESIDENT_EVIL/Revelations/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/Revelations/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/Revelations/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/Revelations/logical_blocks/000003.dat
files/files/RESIDENT_EVIL/Revelations_2/metadata.config
files/files/RESIDENT_EVIL/Revelations_2/logical_blocks/000000.dat
files/files/RESIDENT_EVIL/Revelations_2/logical_blocks/000001.dat
files/files/RESIDENT_EVIL/Revelations_2/logical_blocks/000002.dat
files/files/RESIDENT_EVIL/Revelations_2/logical_blocks/000003.dat
files/physical_blocks/block0105.dat
files/physical_blocks/block0108.dat
files/physical_blocks/block0111.dat
files/physical_blocks/block0114.dat
files/physical_blocks/block0116.dat
files/physical_blocks/block0119.dat
files/physical_blocks/block0122.dat
files/physical_blocks/block0124.dat
files/physical_blocks/block0127.dat
files/physical_blocks/block0130.dat
files/physical_blocks/block0133.dat
files/physical_blocks/block0136.dat
files/physical_blocks/block0139.dat
files/physical_blocks/block0141.dat
files/physical_blocks/block0142.dat
files/physical_blocks/block0145.dat
files/physical_blocks/block0148.dat
files/physical_blocks/block0151.dat
files/physical_blocks/block0154.dat
files/physical_blocks/block0157.dat
files/physical_blocks/block0160.dat
files/physical_blocks/block0161.dat
files/physical_blocks/block0163.dat
files/physical_blocks/block0164.dat
files/physical_blocks/block0166.dat
files/physical_blocks/block0167.dat
files/physical_blocks/block0169.dat
files/physical_blocks/block0170.dat
files/physical_blocks/block0172.dat
files/physical_blocks/block0173.dat
files/physical_blocks/block0175.dat
files/physical_blocks/block0177.dat
files/physical_blocks/block0178.dat
files/physical_blocks/block0180.dat
files/physical_blocks/block0181.dat
files/physical_blocks/block0183.dat
files/physical_blocks/block0184.dat
files/physical_blocks/block0186.dat
files/physical_blocks/block0187.dat
files/physical_blocks/block0189.dat
files/physical_blocks/block0190.dat
files/physical_blocks/block0192.dat
files/physical_blocks/block0193.dat
files/physical_blocks/block0195.dat
files/physical_blocks/block0196.dat
files/physical_blocks/block0199.dat
files/physical_blocks/block0201.dat
files/physical_blocks/block0202.dat
